<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite >
<suite name="Suite">
<listeners>
<listener class-name="listeners.MyListeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.RegisterTest"/>
      <class name="test.LoginTest"/>
       <class name="test.SearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
